{% extends "base.html" %}

{% block title %}Категории товаров{% endblock %}

{% block content %}
    <div class="container">
        <div class="d-flex flex-wrap gap-5 justify-content-center mt-5">
            {% for cat in categories %}
                <a href="{{ cat.get_absolute_url }}" class="card d-flex justify-content-center align-items-center gap-3 text-center" style="width: 18rem;">
                    <div class="cat-img d-flex justify-content-center mt-3">
                        <img src="{{ cat.image.url }}" class="card-img-top" alt="...">
                    </div>
                    <span class=""><strong>{{ cat.name }}</strong></span>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}